:root {
  --yellow: #f4c613;
  --grey: #212226;
  --smoke: #f4f4f4;
  --white: #fff;
  --black: #000;
  --font1: "Raleway", sans-serif;
  --font2: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  color: var(--grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font1);
}

p {
  font-family: var(--font2);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
}

section {
  background: var(--white);
  overflow: hidden;
}

/*preloader*/
#preloader {
  background-color: var(--grey);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

#status {
  background-image: url(../img/preloader/preloader.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*home*/
#home {
  background: none;
  height: 100%;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url("../video/solo.jpg") no-repeat;
  background-size: cover;
}

#home-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1 {
  color: var(--white);
  font-size: 6.5rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

#home-heading h1 span {
  color: var(--yellow);
  font-weight: 500;
}

#home-text p {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 100;
  margin: 0.8rem 0 3rem 0;
}

/*buttons*/
.btn-general {
  font-family: var(--font1);
  border-radius: 2.8rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 0.6rem;
  padding: 1.2rem 4.6rem;
  transition: all 0.5s;
}

.btn-home {
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-home:hover,
.btn-home:focus {
  background-color: var(--yellow);
  color: var(--white);
  border: 1px solid var(--yellow);
}

.btn-yellow {
  color: var(--white);
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: var(--grey);
  color: var(--white);
  border: 1px solid var(--grey);
}

.btn-white {
  color: var(--grey);
  border: 1px solid var(--white);
  background-color: var(--white);
}

.btn-white:hover,
.btn-white:focus {
  background-color: var(--grey);
  color: var(--white);
  border: 1px solid var(--grey);
}

/*arrow*/
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  color: var(--white);
  font-size: 3.2rem;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
  color: var(--yellow);
}

/*----------------------
      -----CONTENT-BOX--------*/
.content-box-lg {
  padding: 12rem 0;
}

.content-box-md {
  padding: 10rem 0;
}

.content-box-sm {
  padding: 9rem 0;
}

/*----------------------
      -----VERTICAL-HEADING--------*/
.vertical-heading h5 {
  color: var(--yellow);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 0.9rem;
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  top: 6rem;
  left: -5.3rem;
}

.vertical-heading h2 {
  margin: 0 0 0 3.5rem;
  font-size: 4.2rem;
  font-weight: 100;
  line-height: 4.5rem;
}

.horizontal-heading {
  margin-bottom: 8rem;
}

.horizontal-heading h5 {
  font-size: 1.6rem;
  color: var(--yellow);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1rem;
}

.horizontal-heading h2 {
  font-size: 4.2rem;
  font-weight: 100;
  line-height: 4.5rem;
  margin: 0;
}

/*about01*/

#about-right p:not(:last-child) {
  margin-bottom: 3rem;
}

#about-bottom {
  margin-top: 6rem;
}

#about-bottom img {
  margin: 0 auto;
}

/*about02*/
#about-02 {
  background-color: var(--smoke);
}

.about-item {
  background-color: var(--white);
  padding: 8rem 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.about-item i {
  font-size: 4.2rem;
  margin: 0;
}

.about-item h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.about-item hr {
  width: 4.5rem;
  height: 3px;
  background-color: var(--yellow);
  margin: 0 auto;
  border: none;
}

.about-item p {
  margin-top: 2rem;
}

.about-item:hover {
  background-color: var(--yellow);
}

.about-item:hover i {
  transform: translateY(-2rem);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: var(--white);
}

.about-item:hover hr {
  background-color: var(--white);
  width: 80%;
}

.about-item i,
.about-item hr {
  transition: all 0.5s ease-in-out;
}

/*================================
        ==========Team=================*/

#team-left .vertical-heading {
  min-height: 16rem;
}

.team-member {
  margin: 0.8rem;
  position: relative;
}

.team-member-overlay {
  background-color: rgba(33, 34, 38, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.team-member-info {
  width: 100%;
  height: 100%;
  padding: 8rem 0;
}

.team-member-info h6 {
  color: var(--yellow);
  font-size: 1.6rem;
  margin: 0;
}

.team-member-info p {
  color: var(--white);
}

.team-member:hover .team-member-overlay {
  opacity: 1;
}

ul.social-list {
  padding: 0;
  margin-top: 2rem;
}

ul.social-list li {
  display: inline-block;
  padding: 0;
}

ul.social-list li a {
  border: 1px solid var(--white);
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  line-height: 3.5rem;
  color: var(--white);
  border-radius: 50%;
  transition: alla 0.4s linear;
  font-size: 1.6rem;
}

ul.social-list li:nth-child(2) a {
  margin: 0 1rem;
}

ul.social-list li:nth-child(1) a:hover {
  background-color: #3b5998;
  border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
  background-color: #00aced;
  border-color: transparent;
  margin: 0 1rem;
}

ul.social-list li:nth-child(3) a:hover {
  background-color: #dd4b39;
  border-color: transparent;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav {
  color: var(--grey);
  background: none;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-prev {
  margin: 0 0.5rem;
  padding: 0;
  display: inline-block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-prev:hover {
  color: var(--yellow);
}

/*================
        ===Skills========*/
.skill {
  margin-bottom: 2rem;
}

.skill h4 {
  line-height: 6.4rem;
  margin: 0;
  font-weight: normal;
}

.progress {
  height: 2.5rem;
  border-radius: 0;
  background-color: var(--smoke);
  overflow: visible;
}

.progress-bar {
  background-color: var(--yellow);
  position: relative;
}

.progress-bar span {
  font-size: 1.1rem;
  font-weight: 100;
  font-family: var(--font2);
  background-color: var(--grey);
  padding: 0.3rem;
  position: absolute;
  left: 97%;
  top: -4.7rem;
}

.progress-bar span::before {
  content: "";
  border-top: 1rem solid var(--grey);
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -1rem;
  left: 27%;
}

/*================
        ===Statement========*/

#statement {
  background: url(../img/tech/tech.jpg) no-repeat fixed center;
  background-size: cover;
}

#statement .content-box-lg {
  background: rgba(0, 0, 0, 0.6);
}

#tech-statement h3 {
  color: var(--white);
  font-size: 2.8rem;
}

#tech-statement p {
  font-size: 1.4rem;
  color: var(--yellow);
  font-family: var(--font1);
  margin-top: 1rem;
}

/*================
        ===Services01========*/

#services-01 img {
  margin: 6rem 0;
}

.service {
  margin: 3.5rem 0;
}

.service .icon {
  font-size: 4.2rem;
  margin: 0;
  transition: all 0.6s linear;
}

.service:hover .icon {
  color: var(--yellow);
  transform: translateX(-2rem);
}

.service h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 0.6rem;
}

.service:hover h5 {
  color: var(--grey);
}

.service h4 {
  font-size: 2.4rem;
  margin: 0 0 0.8rem 0;
}

.service p {
  line-height: normal;
}

/*================
        ===Services02responsive tabs========*/

#services-02 {
  background-color: var(--smoke);
}

#services-tabs ul {
  margin-bottom: 4rem;
}

#services-tabs ul li {
  padding: 0.5rem 3rem;
}

#services-tabs ul li a {
  font-family: var(--font1);
  font-size: 1.3rem;
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
}

#services-tabs ul li.r-tabs-state-active a {
  color: var(--yellow);
  font-weight: 700;
  border-bottom: 3px solid var(--yellow);
  padding-bottom: 0.5rem;
  transition: border-color 0.3s linear;
}

.service-tab .col-md-6 {
  padding: 0;
}

.service-tab img {
  width: 100%;
  margin: 0 auto;
}

.service-tab .tab-bg {
  background-color: var(--white);
  padding: 5.9rem 3rem;
  min-height: 48.1rem;
}

.service-tab h2 {
  font-size: 4.8rem;
  color: #bbb;
  font-weight: 100;
  margin-bottom: 2rem;
}

.service-tab h3 {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.service-tab p {
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

/*================
===Portfolio========*/
#portfolio {
  padding-bottom: 16rem;
}

#portfolio .vertical-heading {
  margin-bottom: 5rem;
}

.row.no-gutters [class*="col-"] {
  padding: 0;
}

#isotope-filters {
  margin-bottom: 1rem;
  padding: 2rem 2.5rem 2rem 0;
}

#isotope-filters button {
  font-family: var(--font1);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  box-shadow: none;
  padding-right: 3.5rem;
}

#isotope-filters button:focus {
  outline: 0;
}

#isotope-filters button span {
  display: block;
  padding-bottom: 0.5rem;
  transition: border-color 0.3s linear;
}

#isotope-filters button.active span {
  color: var(--yellow);
  border-bottom: 3px solid var(--yellow);
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.6s linear;
}

.portfolio-item:hover img {
  transform: scale(1.15);
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14, 14, 17, 0.9);
  cursor: zoom-in;
  opacity: 0;
  transition: all 0.8s;
}

.porfolio-item-details {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.porfolio-item-details h3 {
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  transform: translateY(-20%);
  transition: all 0.8s;
}

.porfolio-item-details span {
  display: inline-block;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  height: 0.6rem;
  width: 3rem;
  margin: 1.1rem auto 0.5rem auto;
}

.porfolio-item-details p {
  font-size: 1.7rem;
  color: var(--white);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  transform: translateY(20%);
  transition: all 0.8s;
}

.portfolio-item:hover .porfolio-item-details p {
  transform: translateY(0);
}

.portfolio-item:hover .porfolio-item-details h3 {
  transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
}

/*================
===Testemonials========*/
#testemonials {
  background-color: var(--smoke);
  padding-bottom: 4.5rem;
  overflow: visible;
}

#testemonials .vertical-heading {
  padding: 8rem 0;
  margin-bottom: 5rem;
}

#testemonial-slider {
  background-color: var(--yellow);
  top: -12rem;
}

.testemonial {
  padding: 2rem 4.5rem 0 4.5rem;
  color: var(--white);
}

.testemonial .row {
  margin-bottom: 2.5rem;
}

.testemonial h3 {
  font-size: 3.2rem;
  line-height: 3.5rem;
}

.testemonial .stars {
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
}

.testemonial p {
  line-height: normal;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.testemonial .author .author-name-des {
  width: 10.06rem;
  margin-top: 2.5rem;
  text-align: left;
}

.author .author-name-des p {
  margin: 0;
}

.testemonial .owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-prev {
  font-size: 3rem;
  background: none;
}

.testemonial .owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-prev:hover {
  background: none;
  color: var(--smoke);
}

/*================
===Pricing========*/
.pricing-table {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 3.2rem 2.1rem;
  transition: all .4s linear;
}

.pricing-table:hover {
  background-color: var(--yellow);
}

.pricing-table .type h4 {
  color: var(--yellow);
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.pricing-table .price {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 2.5rem .5rem;
}

.pricing-table .price h2 {
  font-family: var(--font2);
  font-size: 4, 2rem;
  font-weight: 100;
  margin: 0 0 0 2.4rem;
  position: relative;
}

.pricing-table .price h2 span {
  font-family: var(--font1);
}

.pricing-table .price h2 span.dollar {
  font-size: 1.8rem;
  font-weight: 300;
  position: absolute;
  top: .5rem;
  left: -2rem;
}

.pricing-table .price h2 span.month {
  font-size: 1.1rem;
  font-weight: 400;
  position: absolute;
  bottom: -1.2rem;
  left: .5rem;
}

.pricing-table .price p {
  line-height: normal;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.pricing-table ul.package {
  list-style: none;
  padding: 2rem 0;
}

.pricing-table ul.package li {
  font-family: var(--font2);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 4rem;
}

.pricing-table ul.package li i {
  width: 2.4rem;
}

.pricing-table .btn-yellow {
  width: 96%;
}

.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package {
  color: var(--white);
}

.pricing-table:hover .btn-yellow {
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--white);
}

.pricing-table .btn-yellow:hover {
  background-color: var(--grey);
  color: var(--white);
  border: 1px solid var(--grey);
}

.pricing-table.black {
  background-color: var(--grey);
  color: var(--white);
}

.pricing-table.black .type h4 {
  color: var(--white);
}

.pricing-table.black:hover {
  background-color: var(--yellow);
}

.pricing-table .btn-white {
  width: 96%;
}

/*================
===Stats========*/
#stats {
  background: url(../img/stats/stats-bg.jpg) no-repeat fixed center;
  background-size: cover;
}

#stats .content-box-md {
  background: rgba(0, 0, 0, 0.8);
}

#stats .vertical-heading {
  margin-bottom: 5rem;
}

#stats .vertical-heading h2 {
  color: var(--white);
}

.stats-item {
  background-color: rgba(61, 68, 68, 0.6);
  border-radius: 5px;
  min-height: 17rem;
  padding: 2.5rem 5rem;
  transition: all .6s linear;
}

.stats-item i {
  font-size: 4.2rem;
  color: var(--yellow);
  margin: 0 0 .6rem 0;
  transition: all .6s linear;
}

.stats-item h3 {
  font-size: 3.2rem;
  color: var(--white);
  margin: .7rem 0;
}

.stats-item p {
  color: var(--white);
  margin: 0;
}

.stats-item:hover {
  background-color: var(--yellow);
}

.stats-item:hover i {
  transform: translateY(-1rem);
  color: var(--grey);
}

/*================
===Clients========*/
#clients .horizontal-heading {
  margin-bottom: 3rem;
}

.clients-list {
  padding: 4.5rem 0 0 0;
}

.client {
  padding: 0 1rem;
  max-width: 15rem;
  margin: 0 auto;
  line-height: 10rem;
}

.client img {
  display: inline-block !important;

}

#clients .owl-carousel .owl-nav .owl-next,
#clients .owl-carousel .owl-nav .owl-prev {
  color: var(--grey);
}

/*================
===Blogs========*/
#blog {
  background-color: var(--smoke);
}

#blog-left p {
  margin: 2.5rem 0;
}

#blog-btn a {
  margin: 0;
}

.blog-post {
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.blog-post h4 {
  line-height: 4rem;
  margin: 0;
}

.blog-post>p {
  line-height: 2.4rem;
  margin: 0;
  font-weight: 300;
}

.blog-post a {
  display: inline-block;
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-family: var(--font1);
  color: var(--yellow);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: color .6s linear;
}

.blog-post a:hover {
  color: var(--grey);
}

.blog-post .post-meta {
  border-top: 1px solid var(--smoke);
  margin-top: 3rem;
  padding-top: 1rem;
}

.blog-post .post-meta p {
  font-size: 1.1rem;
  font-family: var(--font1);
  line-height: 2.4rem;
  font-weight: 500;
  margin: 0;
}

/*================
===Contact-Left========*/
#contact-left p {
  margin: 2.5rem 0 2rem 0;
}

ul.office-details {
  list-style: none;
  padding: 0;
}

ul.office-details li {
  font-family: var(--font2);
  margin-top: 1.2rem;
  display: flex;
  font-size: 1.6rem;
}

ul.office-details li i {
  font-size: 2rem;
  width: 4.5rem;
}

#contact-left ul.social-list li a {
  color: var(--grey);
  border: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-left ul.social-list li a:hover {
  color: white;
  text-decoration: none;
  border-color: transparent;
}

/*================
===Contact-Right========*/
#contact-right {
  padding: 2.5rem 3rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#contact-right h4 {
  font-size: 2.4rem;
}

#contact-right p {
  margin-bottom: 2.5rem;
}

#contact-right form input.form-control {
  font-family: var(--font2);
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  line-height: 2.4rem;

}

#contact-right form textarea.form-control {
  min-height: 16.4rem;
  font-family: var(--font2);

}

#contact-right form input.form-control:focus,
#contact-right form textarea.form-control:focus {
  outline: none;
  border: 3px solid var(--yellow);
  border-radius: 5px;

}

/*================
===Footer========*/

footer {
  background-color: var(--grey);
  padding: 3rem;
}

footer p {
  color: var(--white);
  font-size: 2rem;
  letter-spacing: .5rem;
}

footer p span {
  color: var(--yellow);
  font-weight: 700;
}

/*================
===Navigation========*/
.navbar {
  padding: 3.5rem 0 2rem 0;
  transition: all .5s ease;
}

.site-nav-wrapper {
  padding: 0 8.5rem;
}

.navbar-brand {
  font-size: 3rem;
  color: var(--white) !important;
  letter-spacing: .4rem;

}

.navbar-brand span {
  color: var(--yellow);
}

.navbar-brand:hover {
  color: var(--smoke);
}

ul.navbar-nav>li>a {
  color: var(--white);
  font-size: 1.3rem;
  font-family: var(--font1);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  border-bottom: 3px solid transparent;
}

ul.navbar-nav>li>a:hover {
  background: none;
  color: var(--yellow);

}

ul.navbar-nav>li a:active {
  border-bottom: 3px solid var(--yellow);
}

/*================
===White-Navigation========*/
.white-nav-top {
  background-color: var(--smoke);
  padding: 1rem 0;
  box-shadow: 0 .8rem .6rem -.9rem #999;
  z-index: 2;
}

.white-nav-top ul.navbar-nav>li>a {
  color: var(--grey);
  outline: none;
}

.white-nav-top ul.navbar-nav>li>a:hover {
  color: var(--yellow);
}

.white-nav-top .navbar-header a.navbar-brand {
  color: var(--grey) !important;
}

/*================
===ScrollActive========*/
.white-nav-top ul.navbar-nav>li.active a {
  color: var(--yellow);
  border-bottom: 3px solid var(--yellow);
  font-weight: 500;
  background: none;

}

a.smooth-scroll:focus {
  background: none;
}

.btn-back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: .3rem 1.5rem;
  font-size: 2.2rem;
  display: none;
}

.btn-back-to-top {
  outline: none;
}