@media(min-width:1200px) and (max-width:1299px) {
    .site-nav-wrapper {
        padding: 0 2.5rem;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .site-nav-wrapper {
        padding: 0;
    }

    .vertical-heading h2 {
        font-size: 2.9rem;
    }

    #services-tabs .tab-bg {
        padding: 1.6rem 3rem;
        min-height: 30rem;
    }

    .service-tab p {
        line-height: 2rem;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .site-nav-wrapper {
        padding: 0;
    }
    #home-heading h1 {
        font-size: 4.1rem;
    }
    #home-text p {
        font-size: 1.3rem;
    }
    .btn-general {
        padding: .8rem 3.5rem;
        font-size: 1rem;
    }
    .vertical-heading h2 {
        font-size: 2.9rem;
    }
    #tech-statement h3 {
        font-size: 2rem;
        line-height: 3rem;
    }
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 1rem;
    }
    .r-tabs-accordion-title a {
        font-family: var(--font1);
  font-size: 1.3rem;
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
    }
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: var(--yellow);
        font-weight: 700;
        border-bottom: 3px solid var(--yellow);
        padding-bottom: 0.5rem;
        transition: border-color 0.3s linear;
      }
}

@media(max-width:767px) {
    #home-heading h1 {
        color: pink;
    }
}